<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{@blog.url}}">
            {{#if @blog.icon}}
                <img src="{{img_url @blog.icon size="xxs"}}" alt="{{@blog.title}} icon" />
            {{/if}}
            <span class="floating-header-blog-title">{{@blog.title}}</span>
        </a>
    </div>
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{title}}</div>
    <progress id="reading-progress" class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
